$fuente-titulo: normal 4vw 'Roboto', bold;
$fuente-subtitulo: normal 2rem 'Roboto';
$fuente-textos: normal 0.95rem 'Roboto', thin;
$color-logo: #90B280;
$color-verde: #304921;
$color-blanco: #FFFFFF;
$color-bordo: #6B2314;
$color-logoClaro: #CDDDC6;
$sombra-cajas: 3px 3px 5px 0px #222222;
$sombra-titulo: 2px 2px 2px #222222;
$caja-alto: 300px;


$breakpoint-celularAngosto: 575px;
$breakpoint-celular: 576px;
$breakpoint-tablet: 768px;
$breakpoint-escritorio: 992px;
$breakpoint-escritorioLargo: 1200px;
$breakpoint-escritorioLargoExtra: 1400px;

